@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #3b82f6;
    --color-primary-light-4: #e6f4ff;
    --color-danger: #f56c6c;

    --text-color: #334155;
    --background-color: #f1f5f9;

    --menu-active-color: var(--color-primary);
    --menu-active-background: var(--color-primary-light-4);
    --menu-hover-color: var(--text-color);
    --menu-hover-background: var(--background-color);
  }

  :root[class~='dark'] {
    --color-primary: #3b82f6;
    --color-primary-light-4: #e6f4ff;
    --color-danger: #f56c6c;

    --text-color: #334155;
    --background-color: #f1f5f9;

    --menu-active-color: var(--color-primary);
    --menu-active-background: var(--color-primary-light-4);
    --menu-hover-color: var(--text-color);
    --menu-hover-background: var(--background-color);
  }
}

body {
  min-height: 100dvh;
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@keyframes pulse-slow {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
}

/* Global custom scrollbar style */
.custom-scrollbar {
  scrollbar-width: 4px;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.animate-pulse-slow {
  animation: pulse-slow 2.5s ease-in-out infinite;
}
